<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>土豆历史</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<section class="todoapp">
    <header>
        <h1>土豆丝</h1>
        <input class="new-todo" placeholder="你想干嘛？" @keyup.enter="addTodo" v-model="newTodo">
    </header>
    <section class="main" v-cloak v-show="todos.length">
        <input class="toggle-all" type="checkbox" v-model="allDone">
        <!--拖拽组件-->
        <draggable :list="todos" class="todo-list">
                <li class="todo" v-for="todo in filteredTodos" :key="todo.id" :class="{completed: todo.completed, editing: todo === editedTodo}">
                    <!--todo == editedTodo 这是个表达式，如果全等则返回true，并附上editing这个class-->
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="todo.completed">
                        <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div>
                    <input class="edit" type="text" v-model="todo.title" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)"
                        v-focus="todo === editedTodo">
                </li>
        </draggable>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
            <strong>{{remaining}}</strong>项任务未完成
        </span>
        <ul class="filters">
            <li><a href="#all" :class="{selected: visibility === 'all'}">所有</a></li>
            <li><a href="#active" :class="{selected: visibility === 'active'}">未完成</a></li>
            <li><a href="#completed" :class="{selected: visibility === 'completed'}">已完成</a></li>
        </ul>
        <button class="clear-completed" v-show="todos.length > remaining" @click="removeCompleted">清除已完成</button>
    </footer>
</section>
<footer class="info">
    <p>今日事，今日毕</p>
    <p>使用指南：</p>
    <p>输入要完成的任务按回车键添加</p>
    <p>点击左上角箭头选中所有任务</p>
</footer>

<body>
    <script src="http://cdn.bootcss.com/vue/2.1.8/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"></script>
    <script src="https://cdn.rawgit.com/David-Desmaisons/Vue.Draggable/master/dist/vuedraggable.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>